<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Register</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field label="Name" name="name" type="text" v-model="name"></v-text-field>
                  <v-text-field label="Email" name="email" type="text" v-model="email"></v-text-field>
                  <v-text-field label="Phone" name="phone" type="text" v-model="phone"></v-text-field>
                  <v-text-field label="Password" name="password" type="password" v-model="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="register">Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: '',
      phone: '',
      name: ''
    }
  },
  methods: {
    register () {
      axios.post('http://localhost:8000/api/auth/signup', {
        email: this.email, password: this.password, name: this.name, phone: this.phone
      }, { headers: { 'Content-Type': 'application/json' } }).then(() => {
        this.$router.push('home')
      })
    }
  }
}
</script>
